<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head >
    <base href="/">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/cards.css">
    <link rel="stylesheet" href="css/introduction.css">
    <link rel="stylesheet" href="css/quiz.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/esm/popper.js"></script>
    <script src="public/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="bootstrap-4.0.0-beta.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.2/angular-scroll.js"></script>


</head>
<body ng-controller="TestCtrl" ng-cloak>
    <!-- This bit is the top-bar sticky. Header and navigation menu -->
    <top-bar></top-bar>
<!-- ---------------------------------------------------------------- -->

    <div class="container-fluid h-100" >
        <div class="row main-content h-100" >
            <!-- Left-side sticky panel - Search function and navigation menu -->
            <div class="d-flex flex-column col-md-3  col-lg-2 order-0 side-menu px-0" ng-if="inContentState" style="min-width:230px">
                <form class="d-flex align-items-center search-box mx-0 ">
                    <input type="search" placeholder="Search..." class="form-control">
                </form>
                <nav-menu  class="px-2" id="navigation"></nav-menu>


                <!--
                <nav class="navbar-nav navbar-light navbar-expand-md" >
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rsSidebar" aria-controls="rsSidebar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse" id="rsSidebar">
                        <ul class="nav rs-sidebar flex-column flex-nowrap">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Link 1</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ">
                                <a href="" class="nav-link">Link 2</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ">
                                <a href="" class="nav-link">Link 3</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ">
                                <a href="" class="nav-link">Link 4</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ">
                                <a href="" class="nav-link">Link 5</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ">
                                <a href="" class="nav-link">Link 6</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
                -->
            </div>
            <!-- this is where data will be loaded -->
            <div class="col col-md col-lg order-1 content  h-100" ng-class="{'py-5': !home}" id="mainContent" >
                <div ng-class="{'container': inContentState, 'container-fluid': !inContentState}">
                    <div class="nav-buttons w-100 " ng-show="inContentState">
                        <button class="btn  float-left content-nav d-inline" ng-hide="lowEnd" ng-click="goToPrevious()">
                            <span class="fa fa-chevron-left mr-2" ></span>
                            Previous
                        </button>
                        <button class="btn  float-right content-nav d-inline" ng-hide="highEnd" ng-click="goToNext()">
                            Next
                            <span class="fa fa-chevron-right ml-2 "></span>
                        </button>
                    </div >

                    <ng-view></ng-view>
                    <!--<ng-include src="'templates/text-card-template.html'" ></ng-include>-->
                </div>

            </div>

            <!-- this right panel will show all sections in a chapter for quick scanning of the document -->
            <div class="col col-md-2 col-lg-2 order-2 aside" ng-show="inContentState">
                <chapter-summary></chapter-summary>
            </div>


        </div>
    </div>
</body>
<script src="app.js"></script>
<script src="scripts/services/dataFetcher.js"></script>
<script src="scripts/directives/navMenu.js"></script>
<script src="scripts/directives/quizCarousel.js"></script>
<script src="scripts/directives/topBar.js"></script>
<script src="scripts/directives/listText.js"></script>
<script src="scripts/directives/ifsVideo.js"></script>
<script src="scripts/services/navigate.js"></script>
<script src="scripts/controllers/TestCtrl.js"></script>
<script src="scripts/controllers/MainMenuController.js"></script>
<script src="scripts/controllers/ContentRedirecter.js"></script>
<script src="scripts/controllers/MainContentCtrl.js"></script>
<script src="scripts/controllers/IntroductionCtrl.js"></script>
<script src="scripts/directives/chapterSummary.js"></script>
<script src="scripts/filters/noSpaces.js"></script>
<script type="text/javascript">
    $(document).ready(function () {


       $(".font-size-modifier").on("click",function(e){
           var text = $(e.target).text();
           var html = $("html");
           var val = html.css("font-size").substring(0,2);
       