<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head >
    <base href="/">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/all-default.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.2/angular-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js" integrity="sha256-tyfWW2LtJQNI+l3F0h6xDV/ij6Mfn8lwSKHWOsmEgXM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.min.js" integrity="sha256-q0n+9D8QsUkzE5U/IH/sSEE3dpXs6tz44QyFkQjkd+w=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js" integrity="sha256-CB/G+xw3ep7+dlklAxcIvF20YMfFtF+7xbtauQSMi78=" crossorigin="anonymous"></script>


</head>
<body ng-controller="TestCtrl" ng-cloak>
    <!-- This bit is the top-bar sticky. Header and navigation menu -->
    <top-bar></top-bar>
<!-- ---------------------------------------------------------------- -->

    <div class="container-fluid h-100">
        <div class="row main-content h-100" >
            <!-- Left-side sticky panel - Search function and navigation menu -->
            <div class="d-flex flex-column col-md-3  col-lg-2 order-0 side-menu px-0" ng-if="inContentState" style="min-width:230px">
                <form class="d-flex flex-column align-items-center search-box mx-0" name="searchForm" ng-submit="submitSearch(searchTerm,searchForm)" novalidate style="border: none">
                    <input  type="search" id="q" name="q" placeholder="Search..." class="form-control d-block" ng-model="searchTerm" required ng-minlength="3" >
                    <p class="small text-center" ng-if="(searchForm.q.$error.required || searchForm.q.$error.minlength) && searchForm.$submitted">Your search must be at least 3 characters long</p>
                </form>
                <p class="small text-center pb-3" style="border-bottom: 1px solid black;">(Press Enter to start a search)</p>
                <nav-menu  class="px-2" id="navigation"></nav-menu>
                <!--
                <nav class="navbar-nav navbar-light navbar-expand-md" >
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rsSidebar" aria-controls="rsSidebar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse" id="rsSidebar">
                        <ul class="nav rs-sidebar flex-column flex-nowrap">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Link 1</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ">
                                <a href="" class="nav-link">Link 2</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ">
                                <a href="" class="nav-link">Link 3</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ">
                                <a href="" class="nav-link">Link 4</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ">
                                <a href="" class="nav-link">Link 5</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ">
                                <a href="" class="nav-link">Link 6</a>
                                <ul class="d-none nav rs-sub flex-column flex-nowrap">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Sub-Link 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
                -->
            </div>
            <!-- this is where data will be loaded -->
            <!--
            <div class="mx-5" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" ng-class="{'active': $last}" ng-repeat="step in $parent.path">{{step}}</li>
                </ol>
            </div>
            -->
            <div class="col col-md col-lg order-1 content  h-100" ng-class="{'py-5': !home, 'no-scroll': adminState,'hide-overflow': home, 'search-bg': searchState}" id="mainContent" >
                <div ng-class="{'container': inContentState, 'container-fluid': !inContentState}">
                    <div class="nav-buttons w-100 " ng-if="inContentState">
                        <button class="btn  float-left content-nav d-inline" ng-hide="lowEnd" ng-click="goToPrevious()">
                            <span class="fa fa-chevron-left mr-2" ></span>
                            Previous
                        </button>
                        <button class="btn  float-right content-nav d-inline" ng-hide="highEnd" ng-click="goToNext()">
                            Next
                            <span class="fa fa-chevron-right ml-2 "></span>
                        </button>
                    </div >
                    <ng-view></ng-view>
                    <div class="nav-buttons w-100 mt-5" ng-if="inContentState && heightBiggerThanWindow">
                        <button class="btn  float-left content-nav d-inline" ng-hide="lowEnd" ng-click="goToPrevious()">
                            <span class="fa fa-chevron-left mr-2" ></span>
                            Previous
                        </button>
                        <button class="btn  float-right content-nav d-inline" ng-hide="highEnd" ng-click="goToNext()">
                            Next
                            <span class="fa fa-chevron-right ml-2 "></span>
                        </button>
                    </div >
                    <!--<ng-include src="'templates/text-card-template.html'" ></ng-include>-->
                </div>
            </div>
            <!-- this right panel will show all sections in a chapter for quick scanning of the document -->
            <div class="col col-md-2 col-lg-2 order-2 aside" ng-show="inContentState">
                <div class="nav-buttons  w-100 mt-4 mb-5 " ng-if="inContentState">
                    <button class="btn  float-left btn-sm content-nav nav-small d-inline" ng-hide="lowEnd" ng-click="goToPrevious()">
                        <span class="fa fa-chevron-left mr-2" ></span>
                        Prev
                    </button>
                    <button class="btn  float-right btn-sm content-nav nav-small d-inline" ng-hide="highEnd" ng-click="goToNext()">
                        Next
                        <span class="fa fa-chevron-right ml-2 "></span>
                    </button>
                </div >
                <chapter-summary></chapter-summary>
            </div>
        </div>
    </div>
</body>
<script src="assets/js/bundle.js"></script>
</html>