html{
    font-size: 18px;
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
}
body{
    box-sizing: border-box;
    height: 95vh;
    max-height: 95vh;
}
/* the sticky nav-bar at the top*/
.top-bar{
    display:flex;
    flex-direction: column;
    /*background: radial-gradient(#9575CD 40%, #311B92 175% );*/
    background-color:#4c8696;

}
/* header in nav-bar*/
.top-bar h1{
    color: #fff;
    padding:0.1rem;
}
/* navigation links in nav-bar*/
.top-bar nav{
    background: transparent;
}
.side-menu{
    border-right: 1px solid #D7CCC8;

}
.search-box{
    padding:1rem;
    border-bottom: 1px solid #F4E9D4;
}
.search-box:focus{
    transition: box-shadow ease-in-out 0.15s,border-color ease-in-out 0.15s;
}
.font-control{


}
.row.main-content{
    flex-wrap: nowrap;
}
.content{
    overflow-y: auto;
    background-color: #f0ebf2;
    /*#f0ebf2
      #f6f6d4
      #e4dce8*/
    color: #005369;
}
.content::-webkit-scrollbar{
    display: none ;
}
.btn.content-nav{
    background-color: #690053;
    color: #f0ebf2;
    border-radius: 10px;
    width:7rem;
}
.btn.play-video{
    background-color: #690053;
    color: #f0ebf2;
    border-radius: 10px;
    cursor:pointer;
}
.aside{
    background-color: #f0ebf2;
    border-left:1px solid #D7CCC8;;
}
iframe{
    min-width: 240px;
    min-height: 132px;
}

/* header changes at the "md" breakpoint*/
@media (max-width: 768px) {

    .top-bar h1{
        display: none;
    }
    .top-bar .form-inline{
        display:none;
    }

    .side-menu{
        padding:10px;
        border-bottom:1px solid rgba(0,0,0,0.3);
        border-radius:5px;
        box-shadow: 0px 1px 1px 1px #3949AB;

    }
    .search-box{
        padding:10px;
        border-bottom: none;

    }
    .search-box:focus{
        border-color:yellow;
        box-shadow: 1px 1px 1px 1px yellow inset;
        outline-color: yellow;
        outline-offset: -1px;

    }
    .row.main-content{
        flex-wrap: wrap;
    }
    .content{
        border: 1px solid black;
    }


}
@media (max-width: 1100px){
    .aside{
        display: none;
    }
}