<div class="container-fluid row admin-container ">
    <div class="undo-list-icon" ng-if="!undoMode" ng-click="undoToggle()">
        <span class="fa fa-undo"></span>
    </div>
    <div class="undo-overlay" ng-click="undoToggle()" ng-show="undoMode">
        <undo-list></undo-list>
    </div>

    <!-- navigation menu left side -->
    <div class="col-md-3  col-lg-2 order-0 side-menu px-0"  style="min-width:230px; overflow: scroll">
        <nav-menu-admin  class="px-2" id="navigation" repo="data"></nav-menu-admin>
        <!--
        <nav class="navbar-nav navbar-light navbar-expand-md" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rsSidebar" aria-controls="rsSidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="rsSidebar">
                <ul class="nav rs-sidebar flex-column flex-nowrap">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Link 1</a>
                        <ul class="d-none nav rs-sub flex-column flex-nowrap">
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 1</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 2</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link">Link 2</a>
                        <ul class="d-none nav rs-sub flex-column flex-nowrap">
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 1</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 2</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link">Link 3</a>
                        <ul class="d-none nav rs-sub flex-column flex-nowrap">
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 1</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 2</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link">Link 4</a>
                        <ul class="d-none nav rs-sub flex-column flex-nowrap">
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 1</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 2</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link">Link 5</a>
                        <ul class="d-none nav rs-sub flex-column flex-nowrap">
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 1</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 2</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link">Link 6</a>
                        <ul class="d-none nav rs-sub flex-column flex-nowrap">
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 1</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 2</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Sub-Link 3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
        -->
    </div>
    <!-- Center Content -->
    <div class="col col-md col-lg order-1 content  h-100" id="mainContent2" >
        <div class="container" ng-show="selChapter">
            <!-- Content -->
            <h1 class="text-center block-title">
                {{selBlock.name}}
                <edit-element edit-type="Block"></edit-element>
            </h1>
            <div class="card main-card">
                <div class="card-header">
                    <h2 class="card-title d-inline">
                        {{selChapter.name}}
                        <edit-element edit-type="Chapter"></edit-element>
                    </h2>
                    <div class="float-right part-descriptor">
                        <p>
                            Chapter: {{selChapter.blockname}}

                        </p>

                        <p class="text-right pt-1">Part {{index+1}} of {{selBlock.chapters.length}}</p>

                    </div>
                </div>

                <div class="card-body">

                    <div id="{{section.subtitle | lowercase | nospaces}}" class="section-block mb-5 editable-section" ifs-editable="Section" callback-array="selChapter.sections" collapsible-elem="Section" ng-repeat="section in selChapter.sections">
                        <edit-element context-array="selChapter.sections" index-in-context="$index" chapter="selChapter" edit-type="Section"></edit-element>
                        <h4 class="card-subtitle">{{section.subtitle}}</h4>
                        <div class="collapsible">
                            <div  ng-repeat="component in section.components" class="editable-component my-3" ifs-editable="Component" collapsible-elem="Component" callback-array="section.components" >
                                <edit-element context-array="selChapter.sections[$parent.$index].components" index-in-context="$index" chapter="selChapter" section="section" edit-type="Component"></edit-element>
                                <div class="collapsible">
                                    <text-paragraph component="component" ng-if="component.type==='text-paragraph'"></text-paragraph>
                                    <thought-bubble component="component" ng-if="component.type==='thought-bubble'"></thought-bubble>
                                    <text-quote component="component" ng-if="component.type==='text-quote'"></text-quote>
                                    <list-text  ng-if="component.type==='list-text'" element="component"></list-text>
                                    <media-description ng-if="component.type==='media-description'" component="component"></media-description>
                                    <ng-include  src="'templates/components/list/text.html'" ng-if="component.type==='list-text'"></ng-include>
                                    <ng-include  src="'templates/components/link/email.html'" ng-if="component.type==='link-email'"></ng-include>
                                    <ng-include  src="'templates/components/link/website.html'" ng-if="component.type==='link-website'"></ng-include>
                                    <ng-include src="'templates/components/link/pdf.html'" ng-if="component.type==='link-pdf'"></ng-include>
                                    <ng-include  src="'templates/components/text/alert.html'" ng-if="component.type==='text-alert'"></ng-include>
                                    <ng-include  src="'templates/components/text/mythfact.html'" ng-if="component.type==='text-mythfact'"></ng-include>
                                    <ng-include  src="'templates/components/link/telephone.html'" ng-if="component.type==='link-telephone'"></ng-include>
                                    <ng-include  src="'templates/components/link/reference.html'" ng-if="component.type==='link-reference'"></ng-include>
                                    <ng-include src="'templates/components/images/imageSingle.html'" ng-if="component.type==='image-single'"></ng-include>
                                    <!--<ng-include src="'templates/components/quiz/questions.html'" ng-if="component.type==='quiz-questions'"></ng-include>-->
                                    <quiz-modal-start  ng-if="component.type==='quiz'" component="component"></quiz-modal-start>
                                    <ifs-video  element="component" ng-if="component.type==='video-single'"></ifs-video>
                                    <video-carousel ng-if="component.type==='video-carousel'" component="component" compkey="(section.subtitle | lowercase | nospaces)+(component.subtitle | lowercase | nospaces)"></video-carousel>
                                </div>


                                <hr class="mid-comp-sep my-5" ng-if="component['space_after']">

                            </div>
                        </div>


                        <hr class="mid-section-sep mt-5" ng-if="section['space_after']">
                        <div class=" py-2">
                            <button class="float-right btn-warning text-dark w-25 text-nowrap" ng-click="addComponent(section)" style="cursor: pointer;min-width: 10rem"><span class="fa fa-plus-circle fa-fw text-dark py-1"></span> <span>Add Component</span></button>
                        </div>

                    </div>
                    <div class=" py-2">
                        <button class="float-right btn-info w-25 " ng-click="addSection()" style="cursor: pointer"><span class="fa fa-plus-circle fa-fw  py-1 text-white"></span> <span>Add Section</span></button>
                    </div>

                </div>
            </div>

        </div>
        <div class="container" ng-hide="selChapter">
            <h3>Select a chapter from the menu</h3>
        </div>
    </div>
    <!-- Right side page navigation -->
    <div class="col col-md-2 col-lg-2 order-2 aside">
        <div class="w-100 text-center">
            <button class="btn btn-success text-center" ng-click="saveChanges()"> Save Changes </button>
        </div>

        <chapter-summary-admin admin-mode="true"></chapter-summary-admin>
    </div>
</div>
