<div class="border border-info py-2 px-1 mb-3" ng-if="item.answers.length>0">
    <p class="form-text text-dark text-center">Select the right answer by clicking on it in the list below</p>
    <input class="form-control" name="correct" ng-model="item['correct_answer']" ng-required="true" style="visibility: hidden">
    <p class="text-center text-white bg-danger" ng-if="componentSpecifics.correct.$error.required">You must select an element from below.</p>
    <ul class="list-group">
        <li class="list-group-item p-1" ng-repeat="answer in item.answers" style="cursor: pointer">{{answer.text}}</li>
    </ul>
</div>
