<div class="card card-inner">
    <div class="card-body py-2">
        <div class="card-subtitle">
            E-mail:
        </div>
        <div class="card-text">
            <div ng-repeat="mail in component.links">
                <span class="email-tag mr-4" ng-show="mail.tag">{{mail.tag}}: </span>
                <span class="fa fa-envelope"></span>
                <a href="{{mail.link}}" title="Mail to: {{mail.text}}">{{mail.text}}</a>
            </div>

        </div>
    </div>
</div>