.admin-editor-home-style() when (@theme=default){
  .admin-block-choice{
    user-select: none;
    span[title]{
      &:hover{
        position:relative;
        &:after{
          position:absolute;
          top:-40px;
          z-index:1;
          content:"";
          width:50px;
          height:50px;
          border:2px solid black;
        }
      }
    }
    &.active{
      background: #336699;
      span[title]{
        font-size: 2rem;
      }
      &:hover{
        background: #336699;
      }
    }

  }
  .admin-block-choice:hover{
    background: lighten(#336699,50%);
  }
  .admin-chapter-headline{
    background: #99b2cc;
    border:none;
  }
  .admin-chapter-choice{
    &:hover{
      background: lighten(#336699,40%);
    }
  }
}
.span-buttons() {
  font-size: 1.3rem;
  cursor:pointer;
}
.admin-editor-home{
  .admin-editor-home-style;
  .admin-block-headline{
    font-size:1.4rem;
  }
}
hr.title-separator{
  height: 4px;
  margin-left: auto;
  margin-right: auto;

  border: 0 none;
  &.tier-two{
    color:#633617;
    background-color:#633617;
  }
  &.tier-three{
    color: #336699;
    background-color:#336699;
  }
}
span{
  &.fa-minus-circle{
    .span-buttons;
    color:red;
  }
  &.fa-plus-circle{
    .span-buttons;
    color:darkgreen;
  }
}
.card-header.header-selected{
  background: #2f4858;
  color: white;
}
.card.component-selected{
  border-color: #2f4858;
}


