.main-card-style() when (@theme=default) {
  background-color: #fbfbed;
  box-shadow: 0px 0px 2px 1px #7e7e7e;
  .card-header{
    background-color: #f6e5d4;
  }
  .card-subtitle{
    color: #690053;
  }
}
.main-card-style() when (@theme=ocean) {
  background-color: lighten(#f4ad46,20%);
  box-shadow: 0px 0px 2px 1px #633617;
  .card-header{
    background-color: darken(#f4ad46,5%);
  }
  .card-subtitle{
    color: darken(#666a86,20%);
  }
}
.main-card-style() when (@theme=robust) {
  background-color: lighten(#f7c1bb,8%) ;
  box-shadow: 0px 0px 2px 1px #353a47;
  .card-header{
    background-color: lighten(#885a5a,20%);
  }
  .card-subtitle{
    color: lighten(#475841,10%) ;
  }
}

.card-inner-style() when (@theme=default){
  border:0.2rem solid lightgray;
  .email-subtitle,.email-tag{
    background-color: #690053;
    color: #e2e6ea;
  }
}
.card-inner-style() when (@theme=ocean){
  border:0.05rem solid lighten(#633617,20%);
  .email-subtitle,.email-tag{
    background-color: darken(#666a86,20%);
    color: #e2e6ea;
  }
}
.card-inner-style() when (@theme=robust){
  border:0.2rem solid lighten(#353a47,50%);
  .email-subtitle,.email-tag{
    background-color: lighten(#475841,10%);
    color: #e2e6ea;
  }
}
//-----------------------------------------
.thought-style() when (@theme=default){
  color: #690053;
  background:#f7a944; /*fallback colour for non-supporting browsers*/
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#fac868), to(#f3961c));
  background:-moz-linear-gradient(#fac868, #f3961c);
  background:-o-linear-gradient(#fac868, #f3961c);
  background:linear-gradient(#fac868, #f3961c);
  &:before,&:after{
    background:#f3961c;
  }
  .thought-title{
    border-bottom:  2px dotted #690053;
  }
}
.thought-style() when (@theme=ocean){
  color: #f4ad46;
  background:#666a86; /*fallback colour for non-supporting browsers*/
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#666a86), to(#6b5a79));
  background:-moz-linear-gradient(#666a86, #6b5a79);
  background:-o-linear-gradient(#666a86, #6b5a79);
  background:linear-gradient(#666a86, #6b5a79);
  &:before,&:after{
    background: #666a86;
  }
  .thought-title{
    border-bottom:  2px dotted #f4ad46;
  }
}
.thought-style() when (@theme=robust){
  color: #e2e6ea;
  background:#607A56; /*fallback colour for non-supporting browsers*/
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#607A56), to(#4c6144));
  background:-moz-linear-gradient(#607A56, #4c6144);
  background:-o-linear-gradient(#607A56, #4c6144);
  background:linear-gradient(#607A56, #4c6144);
  &:before,&:after{
    background: #607A56;
  }
  .thought-title{
    border-bottom:  2px dotted #e2e6ea;
  }
}

.card.main-card{
    height: 468px;
    .main-card-style;
    .card-header{
      .part-descriptor{
        line-height: 0.5;
      }
    }
    .card-subtitle{
      margin-bottom: 1rem;
    }
  .card-body{
    padding-top:3rem;
  }
  .small-screens{
    display: none;
  }
  .large-screens{
    display: flex;
  }
  @media screen {
    @media (max-width: 1090px){
      .large-screens{
        display: none;

      }
      .small-screens{
        display: flex;
      }
    }
  }
}

.card.card-inner{
    margin-top:1.5rem;
    background: transparent;
    .card-inner-style;
    margin-bottom: 2rem;
    .email-subtitle{
      font-size: 1.1rem;

      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
    }
}
.card-text{
  &.ifs-media-small {
    display: none;
    @media screen {
      @media (max-width: 1128px) {
        display: block;
      }
    }
  }
  &.obvious-text{
    background-color: #690053;
    font-weight: bold;
    color: #e2e6ea;
    padding-left: 1px;
  }

  &.ifs-media-large {
    display: block;
    @media screen {
      @media (max-width: 1128px) {
        display: none;
      }
    }
  }

  .email-tag{
    font-size: 1.1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}
div.thought{
  .thought-style();
  position: relative;
  margin-bottom:80px;
  text-align: center;
  padding:23px;
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-border-radius:180px;
  -moz-border-radius:180px;
  border-radius:180px;
  -webkit-box-shadow: -3px 4px 8px #989898;
  -moz-box-shadow: -3px 4px 8px #989898;
  box-shadow: -3px 4px 8px #989898;
  min-height: 100px;
  &:before,&:after{
    content:"";
    position:absolute;
    -webkit-box-shadow: -3px 3px 4px #989898;
    -moz-box-shadow: -3px 3px 4px #989898;
    box-shadow: -3px 3px 8px #989898;
  }
  &:before{
    bottom:-40px; /*distance from the bottom of the bubble*/
    left:20px; /*distance from the left edge of the bubble*/
    width:30px; /*same as the height*/
    height:30px; /*same as the width*/
    /*add a curve to the corners the same size as the height and width*/
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
  }
  &:after{
    bottom:-55px;
    left:0;
    width:15px;
    height:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
  }
  .thought-title{
    position: relative;
    margin-top:-10px;
    padding-bottom:10px;
    span:nth-child(2){
      position: absolute;
      font-size: 2rem;
      right:10px;
      top:0;
    }
    span:first-child{
      position: absolute;
      font-size:2rem;
      left:10px;
      top:0;
    }
  }

}
