//themes

/*
DEFAULT:
  front page buttons:
    color: white;

*/

.btn-resource-color() when (@theme=default){
  color: white;
  background-color: #006600;
  &:hover{
    background-color: white;
    border-color: #006600;
    color: #006600;
  }
}
.btn-resource-color() when (@theme=lighten){
  color: white;
  background-color: lighten(#006600,30%);
  &:hover{
    background-color: white;
    border-color: lighten(#006600,30%);
    color: lighten(#006600,30%);
  }
}
.btn-resource-color() when (@theme=robust){
  color: white;
  background-color: #475841;
  &:hover{
    background-color: white;
    border-color: #475841;
    color: #475841;
  }
}
//---------------------------------------------------------
.top-bar() when (@theme=default){
  color: #fff;
  background-color:#4c8696;
  &>.nav-themed{
    .nav-link {
      color: #fff;
    }
    .navbar-brand{
      color: darken(#fff,15%);
    }
  }
}
.top-bar() when (@theme=lighten){
  color: lighten(#fff,20%);
  background-color:lighten(#4c8696,20%);
  &>.nav-themed{
    .nav-link {
      color: #fff;
    }
    .navbar-brand{
      color: darken(#fff,15%);
    }
  }
}
.top-bar() when (@theme=robust){
  color: #fff;
  background-color:#353a47;
  &>.nav-themed{
    .nav-link {
      color: #fff;
    }
    .navbar-brand{
      color: #9fb8ad;
  }
  }
}
//---------------------------------------------------------
.content-background() when (@theme=default){
  background-color: #f0ebf2;
  color: #005369;
}
.content-background() when (@theme=lighten){
  background-color: lighten(#f0ebf2,30%);
  color: lighten(#005369,30%);
}
.content-background() when (@theme=robust){
  background-color: darken(#f0ebf2,5%);
  color: #353a47;
}
//----------------------------------------------------------
.content-nav-style() when (@theme=default){
  background-color: #690053;
  color: #f0ebf2;
}
.content-nav-style() when (@theme=lighten){
  background-color: lighten(#690053,30%);
  color: lighten(#f0ebf2,30%);
}
.content-nav-style() when (@theme=robust){
  background-color: #690053;
  color: #f0ebf2;
}
//---------------------------------------------------------
.summary-list-style() when (@theme=default){
  color: #2b669a;
}
.summary-list-style() when (@theme=lighten){
  color: lighten(#2b669a,30%);
}
.summary-list-style() when (@theme=robust){
  color: #353a47;
}

.aside-style() when (@theme=default){
  background-color: #f0ebf2;
  border-left:1px solid #D7CCC8;
}
.aside-style() when (@theme=lighten){
  background-color: lighten(#f0ebf2,30%);
  border-left:1px solid #D7CCC8;
}
.aside-style() when (@theme=robust){
  background-color: lighten(#f7c1bb,7%);
  border-left:1px solid #D7CCC8;
}

html{
    font-size: 18px;
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
    a{
      text-decoration: none;
    }
}

body{
    box-sizing: border-box;
    height: 95vh;
    max-height: 95vh;
}

div.main-page{
    min-height: 75vh;
    margin-left: -2rem ;
    margin-right: -2rem;
    background: url(../images/mainpagebackground.jpg) no-repeat center center fixed;
    box-shadow: 0px 8px 5px -6px darkgray inset, 0px -8px 5px -6px darkgray inset;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn.btn-resource{

  .btn-resource-color();
  position: relative;
  width:8rem;
  border-radius: 0px;
  cursor: pointer;

  /*
  &:after,&:before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top:1rem solid #006600;
    border-bottom: 1.3em solid #006600;
    z-index: -1;
    top:-0.01em;
  }
  &:after{
    border-right: 1.5em solid transparent;
    border-left: 2em solid #006600;
    right:-30%;
  }
  &:before{
    border-right: 2em solid #006600;
    border-left: 1.5em solid transparent;
    left:-30%;
  }
  &:hover:after, &:hover:before{
    background:transparent;
  } */
}

.footer{
    border-top: 1px solid silver;
    margin-left: -2rem;
    margin-right: -2rem;

    height:15em;
}

/* the sticky nav-bar at the top*/
.top-bar{
    display:flex;
    flex-direction: column;
    #robust-theme{
      background: #f7c1bb;
      color: #353a47;
    }
    #default-theme{
      background: #4c8696;
      color: #f0ebf2;
    }
    /*background: radial-gradient(#9575CD 40%, #311B92 175% );*/
    .top-bar;
    @media screen{
      @media (max-width: 768px){
        h1 {
          display: none;
        }
        .form-inline{
          display: none;
        }
      }
    }
  h1{
    padding: 0.1rem;
  }
  nav{
    background: transparent;
  }
}

.row.main-content{
    flex-wrap: nowrap;
    @media screen{
      @media (max-width: 768px){
        flex-wrap:wrap;
      }
    }
}

.content{
    .content-background();
    overflow-y: auto;
    min-width: 600px;
    @media screen {
      @media (max-width: 768px){
        border: 1px solid black;
      }
    }
}
/*
.content::-webkit-scrollbar{
    display: none ;
}
*/

/* buttons used to navigate through content step by step */
.btn.content-nav{
    .content-nav-style();
    border-radius: 10px;
    width:7rem;
}

/* the list on the right-side panel used to navigate the page content */
.summary-list{
    list-style-type: none;
    font-size: 0.8em;
    margin-left: -1.75rem;
    li{
      cursor:pointer;
      .summary-list-style();
    }
}
.aside{
    .aside-style();
    @media screen{
      @media (max-width: 1100px){
        display: none;
      }
    }
}

