.side-menu{
    background-color: #f0ebf2;
}
#navigation{
    max-height: 75vh;
    overflow: auto;
    padding-bottom: 2rem;

}
.rs-sidebar{
    min-width: 100%;
    margin-top:1rem;
    overflow-y: auto;
}

.rs-sidebar >li>a{

    color:#3949AB;
    border-bottom: 0.5px solid #311B92;

    box-shadow: 0 2px 3px -0.5px #311B92;

    background-color:#e3cbec;
}
.rs-sidebar >li.active{

}
.rs-sidebar >li.active > a{
    border-bottom:none;
    box-shadow:none;
    background-color: #8561C5;
    color: white;

}
.rs-sidebar >li.active >ul>li:first-child{
    border-top:1px solid #311B92;
    box-shadow:0px 3px 6px -2px #311B92 inset;
}
.rs-sidebar >li.active > ul>li:last-child{
    border-bottom:1px solid #311B92;
}
.rs-sidebar >li > ul{
    border-left: 1px solid  #311B92;
    background-color: #efe1f4;
}
.rs-sidebar > li > ul > li {
    border-bottom:1px solid lightgray;
}
.rs-sidebar > li > ul >li > a{
    color:#64459B;
}
.rs-sidebar >li>ul>li:hover{
    background-color:#D1C4E9;
}
.rs-sidebar >li>ul>li.sub-active:hover{
    background-color:#B5A0DC;
    color:white;
}
.rs-sub.ng-hide{
    max-height: 0;
}
.rs-sub.ng-hide-add,
.rs-sub.ng-hide-remove{
    transition:all linear 0.15s;
}
.rs-sub{
    max-height: 500px;
}

.sub-active{
    background-color:#B5A0DC;

}
.sub-active a.chapter-link{
    color: white;
}


a{
    text-decoration: none;
}
.rs-sidebar >li{
    padding: 0.7rem 0.5rem;
}
.nav.rs-sub li>a{
    padding-left:10px;
}
.nav-link.block-link{
    text-indent: 5%;

}
@media  (max-width: 768px){
    #navigation{



    }


}