.search-intro{
  span{
    font-weight: bold;
  }
}
.separator{
  width: 50%;
  background-color: #9fb8ad;
  opacity: 0.7;
  height:2px;
  margin-top:1rem;
  margin-bottom:1.5rem;
}
.search-results-brief{
  p{
    font-size: 2rem;
    span{
      font-weight: bold;
    }
  }
}
.bottom-sep{
  border-bottom: 1px solid black;
}
.search-blocks{
  li{
    a{
      color: inherit;
      text-decoration: none;
    }
    font-size: 1.3rem;
    cursor:pointer;
    &:hover{
      .block-name{
        font-size: 1.4rem;
      }
    }
  }
  .block-name{
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 0.6rem;
  }
}
.block-results{

}
.back-to-top{
  code{
    box-shadow: 0px 0px 2px 2px #9fb8ad;
    cursor: pointer;
  }
}