.video-style() when (@theme=default){
  background-color: #690053;
  color: #f0ebf2;
}
.video-style() when (@theme=ocean){
  background-color: #336699;
  color: white;
}
.video-style() when (@theme=robust){
  background-color: #353a47;
  color: lightgray;
}
.button-carousel() when (@theme=default){
  border:1px solid #690053;
  background-color: #f0ebf2;
  color: #690053;
}
.button-carousel() when (@theme=ocean){
  background-color: white;
  color: #336699;
  border:1px solid #336699;
}
.button-carousel() when (@theme=robust){
  border:1px solid #353a47;
  background-color: lightgray;
  color: #353a47;
}

.button-active() when (@theme=default){
  background-color: #690053;
  color: #f0ebf2;
  border:1px solid #f0ebf2;
}
.button-active() when (@theme=ocean){
  background-color: #336699;
  color: #f0ebf2;
  border:1px solid #f0ebf2;
}
.button-active() when (@theme=robust){
  background-color: #353a47;
  color: lightgray;
  border:1px solid lightgray;
}

iframe{
  min-width: 240px;
  min-height: 132px;
}
.btn.play-video{
  .video-style;
  border-radius: 10px;
  cursor:pointer;

}
.btn.btn-video-carousel{

  position: relative;
  border-radius: 15px;
  cursor:pointer;
  .button-carousel;
  & .ifs-tooltip{
    display: none;
    position: absolute;
    top:-30px;
    left:50%;
    z-index:1000;
    background-color: #2f4858;
    color: #e2e6ea;
  }
  &:hover .ifs-tooltip{
    display:inline;
  }
}
.ifs-tooltip:after{
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  bottom:-7px;
  left:10%;
  border-top:10px solid #2f4858;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index:999;
}
.btn.btn-video-carousel.active{
  .button-active;
  &:hover .ifs-tooltip{
    display:inline;
  }
}
.btn-group.btn-video-carousel-group{
  margin: 0 -20px;
}
a.my-carousel-control{
  position: relative;
  top:3rem;
  z-index:10;

}
a.my-carousel-control .fa{
  color: black;
  font-size: 1.8rem;
  cursor: pointer;
}
.video-player{
  /*
  border: 1px solid darkgray;
  box-shadow: 0px 0px 3px 1px slategray inset;
  */
  padding:1rem;
}
.video-player iframe{
  padding:1rem;

}
.video-player h5{
  padding-bottom: 1rem;
}
.video-player img{
  padding: 1rem;
}