<div class="d-flex align-items-center justify-content-around">
    <div class="card main-card w-50" style="min-width:600px">
        <div class="card-body text-center">
            <h3 class="mb-5">Edit Contents of: </h3>
            <div class="d-flex align-items-center justify-content-around flex-column" style="position:relative;z-index:3">
                <button  class="btn btn-resource" ng-click="selectGroup('educators')">Educators</button>
                <button class="btn btn-resource" ng-click="selectGroup('staff')">Staff</button>
                <button class="btn btn-resource" ng-click="selectGroup('students')">Students</button>
                <button class="btn btn-resource" ng-click="selectGroup('about')">About Page</button>
                <button class="btn btn-resource" ng-click="selectGroup('mainpage')">Main Page Content</button>
            </div>

        </div>
    </div>
</div>