<div class="clearfix mb-3"></div>
<div class="card main-card">
    <div class="card-header">
        <h2 class="card-title d-inline">{{data.name}}</h2>
        <h4 class="float-right">Chapter {{index}} of {{dataLength}}</h4>
    </div>

    <div class="card-body">

        <div ng-repeat="section in data.introcontent" id="{{section.title | lowercase |nospaces }}">

            <h4 class="card-subtitle">{{section.title}}</h4>
            <div ng-repeat = "component in section.components">
                <ng-include src="'templates/components/text/paragraph.html'" ng-if="component.type==='text-paragraph'"></ng-include>
                <ng-include src="'templates/components/list/text.html'" ng-if="component.type==='list-text'"></ng-include>
                <ng-include src="'templates/components/text/quote.html'" ng-if="component.type==='text-quote'"></ng-include>
                <ng-include src="'templates/components/link/website.html'" ng-if="component.type==='link-website'"></ng-include>
            </div>
            <hr class="mid-section-sep my-5" ng-if="section['space_after']">
        </div>
    </div>
</div>
