<div class="btn-toolbar" role="toolbar" aria-label="Buttons to select font size">
    <div class="btn-group mx-2 " role="group" aria-label="Increase or Decrease Font">
        <button   class="btn btn-fonts" aria-label="Increase Font">
            <span class="fa fa-font" aria-hidden="true"></span>
            <span class="font-sizer">+</span>
        </button>
        <button   class="btn btn-fonts" aria-label="Decrease Font">
            <span class="fa fa-font" aria-hidden="true"></span>
            <span class="font-sizer">-</span>
        </button>
    </div>
</div>