<div class="bg-transparent pb-0">
    <div id="bm" class="text-center bg-transparent w-100"></div>
    <ifs-video  element="data.mainVideo" ng-if="data.mainVideo.type==='video-single'"></ifs-video>
    <h1 class="text-white bg-dark py-2 text-center" style="margin-left: -2rem ;
    margin-right: -2rem;margin-bottom: -0.1rem;">Interventions for Success</h1>
</div>

<div>
    <div class=" h-75 pb-4 home-container hide one" ng-class="{'main-page': home}" style="zoom:1;">
        <span class="overlay"></span>
        <div class="overlay-content">
            <div id="carouselQuotes" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li ng-repeat="q in data.quotes" data-target="#carouselQuotes" data-slide-to="{{$index}}" ng-class="{'active': $first}"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" ng-repeat="q in data.quotes" ng-class="{'active' : $first}">
                        <p class="quote">{{q.text}}</p>
                        <p class="text-center author">{{q.author + " " + q.year}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card main-card content-interface p-5" style="margin: 0 -75px">
    <div class="card-body text-center h-100">
        <div class="align-items-center justify-content-around h-100 large-screens" style="position:relative;z-index:3;">
            <div class="text-center icon-resources educator" style="position: relative; " ng-click="selectGroup('educators')">
                <span class="highlight-overlay"></span>

            </div>
            <div class="text-center icon-resources staff" style="position: relative;" ng-click="selectGroup('staff')">

                <span class="highlight-overlay"></span>
            </div>
            <div class="text-center icon-resources student" style="position: relative;" ng-click="selectGroup('students')">
                <span class="highlight-overlay"></span>

            </div>
        </div>


        <div class="align-items-center justify-content-around h-100 small-screens" style="position:relative;z-index:3;">
            <div class="text-center icon-resources generic" style="position: relative;" ng-click="selectGroup('educators')">
                <img class="mx-auto"  src="images/icons/educator_resources.png" alt="Resources" style="display: block">
                <h3 class="mt-4" style="color: #3976E5">Educator Resources</h3>
                <span class="highlight-overlay"></span>
            </div>
            <div class="text-center icon-resources generic " style="position: relative" ng-click="selectGroup('staff')">

                <img class="mx-auto"  src="images/icons/staff_resources.png" alt="Resources" style="display: block">
                <h3 class="mt-4" style="color: #3976E5">Staff Resources</h3>
                <span class="highlight-overlay"></span>
            </div>
            <div class="text-center icon-resources generic " ng-click="selectGroup('students')" style="position: relative">

                <img class="mx-auto" src="images/icons/student_resources.png" alt="Resources" style="display: block">
                <h3 class="mt-4" style="color: #3976E5">Student Resources</h3>
                <span class="highlight-overlay"></span>
            </div>


        </div>

    </div>
</div>
<div>
    <div class=" h-75 pb-4 home-container two" ng-class="{'main-page': home}" style="zoom:1">
        <span class="overlay"></span>
        <div class="overlay-content overlay-flex">
            <p class="text-block">{{data.mainParagraph.text}}</p>
        </div>

    </div>
</div>
<div class="footer py-5 mb-5" style="">
    <div class="d-flex align-items-stretch justify-content-around footer-content ">
        <div class="footer-links ">
            <h4 class="footer-column-title text-center mb-5 pb-3 ">{{data.contact.subtitle}}</h4>
            <div class="footer-contacts text-center mx-auto w-50">
                <div class="" ng-repeat="comp in data.contact.components">
                    <link-telephone component="comp" ng-if="comp.type==='link-telephone'"></link-telephone>
                    <link-email component="comp" ng-if="comp.type==='link-email'"></link-email>
                </div>

            </div>
        </div>
        <div class="footer-affiliations pb-5">
            <h4 class="footer-column-title text-center mb-5 pb-3">Affiliations</h4>
            <div class="affiliations d-flex align-items-start justify-content-center flex-wrap">

                <div class="px-3" ng-repeat="aff in data.affiliations">
                    <a href="{{aff.href}}" target="_blank">
                        <img src="{{aff.src}}" width="160" height="160" alt="{{aff.name}}" >
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-sites">
            <h4 class="footer-column-title text-center mb-5 pb-3">Useful Sites</h4>
            <div class="affiliations d-flex align-items-start justify-content-center">
                <div class="px-3" ng-repeat="site in data.useful_sites">
                    <a href="{{site.href}}" target="_blank">
                        <img src="{{site.src}}" width="160" height="160" alt="{{site.name}}" >
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

