<h1 class="text-center block-title">{{data.blockname}}</h1>
<div class="card main-card">
    <div class="card-header">
        <h2 class="card-title d-inline">{{data.name}}</h2>
        <div class="float-right part-descriptor">
            <p>Chapter: {{data.blockname}}</p>
            <p class="text-right pt-1">Part {{index+1}} of {{blockLength}}</p>
        </div>
    </div>

    <div class="card-body">

        <div id="{{section.subtitle | lowercase | nospaces}}" class="section-block mb-5" ng-repeat="section in data.sections">

            <h4 class="card-subtitle">{{section.subtitle}}</h4>
            <div  ng-repeat="component in section.components">
                <text-paragraph component="component" ng-if="component.type==='text-paragraph'"></text-paragraph>

                <text-quote component="component" ng-if="component.type==='text-quote'"></text-quote>
                <list-text  ng-if="component.type==='list-text'" element="component"></list-text>
                <ng-include  src="'templates/components/list/text.html'" ng-if="component.type==='list-text'"></ng-include>
                <ng-include  src="'templates/components/link/email.html'" ng-if="component.type==='link-email'"></ng-include>
                <ng-include  src="'templates/components/link/website.html'" ng-if="component.type==='link-website'"></ng-include>
                <ng-include src="'templates/components/link/pdf.html'" ng-if="component.type==='link-pdf'"></ng-include>
                <ng-include  src="'templates/components/text/alert.html'" ng-if="component.type==='text-alert'"></ng-include>
                <ng-include  src="'templates/components/text/mythfact.html'" ng-if="component.type==='text-mythfact'"></ng-include>
                <ng-include  src="'templates/components/link/telephone.html'" ng-if="component.type==='link-telephone'"></ng-include>
                <ng-include  src="'templates/components/link/reference.html'" ng-if="component.type==='link-reference'"></ng-include>
                <ng-include src="'templates/components/images/imageSingle.html'" ng-if="component.type==='image-single'"></ng-include>
                <!--<ng-include src="'templates/components/quiz/questions.html'" ng-if="component.type==='quiz-questions'"></ng-include>-->
                <quiz-carousel  ng-if="component.type==='quiz'" questions="component.questions"></quiz-carousel>
                <ifs-video  element="component" ng-if="component.type==='video-single'"></ifs-video>
                <video-carousel ng-if="component.type==='video-carousel'" component="component" compkey="$parent.$index.toString()+$index.toString()"></video-carousel>

                <hr class="mid-comp-sep my-5" ng-if="component['space_after']">
            </div>


            <hr class="mid-section-sep mt-5" ng-if="section['space_after']">
        </div>
    </div>
</div>