<p>Gonna do tests here</p>
<div class="card">
    <div class="card-body">
        <button class="btn btn-danger" ng-click="getFiles()">Show Current Files</button>
        <input type="file" id="fileElem" accept="application/pdf,image/*" multiple style="display:none">
        <button id="fileSelect">Select some files</button>
        <button class="btn btn-danger" ng-click="sendFiles()" ng-show="files.length>0">Show Current Files</button>
    </div>
</div>
<div class="card" ng-show="files.length">
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="file in files">
                <a href="{{urls[file]}}" target="_blank">{{file.name}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="card" ng-show="results">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in results.images">{{item}}</li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in results.pdfs">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<iframe width="330" height="270" src="https://vls.uclan.ac.uk/player?autostart=n&fullscreen=y&width=320&height=260&videoId=1985&captions=n&chapterId=0" frameborder="0" scrolling="no"  allowfullscreen></iframe>