<div class="card">
    <div class="card-header">
        <h4 class="card-title">What is disclosure?</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            Disclosure is making known a disability to the university.
            It involves discussing difficulties you may encounter, any reasonable adjustments needed for attainment and
            individual examination arrangements.
        </p>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">How do you disclose?</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            You can disclose at any time during the recruitment process, such as on your application or UCAS form or when you are on your course.
        </p>
        <hr>
        <p>
            You can also disclose a disability through contacting the Disabilities Team using Connect2 or emailing: disabilityadvisor.ss@coventry.ac.uk
        </p>
        <a href="http://placementconnect.coventry.ac.uk/images/category/nursing/nursing_placement_handbook.pdf" class="card-link" target="_blank">
            <img src="../images/pdf_icon.jpg" width="20" height="20" class="img-fluid d-inline mr-3" alt="PDF">Handbook</a>
    </div>
    <div class="card-footer">
        <p class="card-text">
            <span class="fa fa-envelope mr-2"></span> disabilityadvisor.ss@coventry.ac.uk
        </p>
    </div>
</div>