<div class="btn-toolbar" role="toolbar" aria-label="Buttons to select display options">
    <div class="btn-group mx-2" role="group" aria-label="Select Theme">
        <button id="default-theme" data-theme="default" class="btn btn-primary btn-default"><span class="fa fa-font" aria-hidden="true"></span></button>
        <button id="ocean-theme" data-theme="ocean" class="btn btn-primary btn-ocean"><span class="fa fa-font" aria-hidden="true"></span></button>
        <button id="robust-theme" data-theme="robust" class="btn btn-primary btn-robust"><span class="fa fa-font" aria-hidden="true"></span></button>
    </div>
</div>
