<header class="container-fluid top-bar ">

    <nav class="navbar nav-themed navbar-expand flex-column flex-md-row py-0">
        <a class="navbar-brand py-0" href="#">
            IFS
            <span class="navbar-text" ng-show="source">{{source}}...</span>
        </a>
        <ul class="navbar-nav mr-md-auto text-center mt-1 mt-lg-0 justify-content-around" style="flex:1">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Content</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/content/staff">Staff</a>
                    <a class="dropdown-item" href="/content/students">Students</a>
                    <a class="dropdown-item" href="/content/educators">Educators</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">AdminInterface</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/content/about">About</a>
            </li>
        </ul>
        <theme-selector></theme-selector>
        <font-size-selector></font-size-selector>
    </nav>
</header>