<div class="card">
    <div class="card-header main p-0">
        <p class="mb-0">
            Delete
            <span class="float-right fa fa-close" style="cursor:pointer" ng-click="dismissModal()"></span>
        </p>

    </div>
    <div class="card-body text-center">
        <p>Are you sure you want to delete ? </p>
        <p><span class="font-weight-bold" ng-show="item.block">Block: </span> {{item.block}}</p>
        <p><span class="font-weight-bold" ng-show="item.chapter">Chapter: </span> {{item.chapter}}</p>
        <p><span class="font-weight-bold" ng-show="item.section">Section: </span> {{item.section}}</p>
        <p><span class="font-weight-bold" ng-show="item.type">Component: </span> {{item.type}}</p>

    </div>
    <div class="card-footer text-center">
            <button class="btn btn-success mx-4 w-25" ng-click="dismissModal()"> No </button>
            <button class="btn btn-danger mx-4 w-25" ng-click="closeModal()"> Yes</button>
    </div>
</div>