<div class="card">
    <div class="card-header main p-0">
        <p class="mb-0">
            Delete
            <span class="float-right fa fa-close" style="cursor:pointer" ng-click="dismissModal()"></span>
        </p>

    </div>
    <div class="card-body text-center">
        <p> Data saved successfully!!</p>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-success mx-4 w-25" ng-click="closeModal()" style="cursor: pointer"> Great!</button>
    </div>
</div>