<div class="card">
    <div class="card-header main p-0">
        <p class="mb-0">
            Add new {{message}}
            <span class="float-right fa fa-close" style="cursor:pointer" ng-click="dismissModal()"></span>
        </p>

    </div>
    <div class="card-body text-center">
        <h5 ng-if="sectionName" class="mb-3">Block: {{sectionName}}</h5>
        <p>Enter a name for your new {{message}}.</p>
        <form name="nameForm" ng-submit="closeModal(nameForm)">

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" ng-model="newElement.name" ng-minlength="3" ng-required="true" ng-if="newElement.hasOwnProperty('name')">
            <input type="text" id="name" name="name" ng-model="newElement.subtitle" ng-minlength="3" ng-required="true" ng-if="newElement.hasOwnProperty('subtitle')">
            <p ng-show="!nameForm.$pristine && nameForm.name.$error.minlength">Minimum 3 characters</p>
        </form>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-warning mx-4 w-25" ng-click="dismissModal()"> Never Mind </button>
        <button class="btn btn-success mx-4 w-25" ng-click="closeModal(nameForm)"> Create</button>
    </div>
</div>