<div class="card main">
    <div class="card-header main p-0">
        <p class="mb-0">
            Edit {{item.type}}
            <span class="float-right fa fa-close" style="cursor:pointer" ng-click="dismissModal()"></span>
        </p>

    </div>
    <form name="masterForm" id="masterForm" novalidate>
        <!-- Sections and Components -->
        <div class="card-body component-edit-form" ng-if="item.type!=='Chapter' && item.type!=='Block'">
            <!-- title -->
            <div class="px-3 py-1 font-weight-bold">
                <h5>
                    <span>Chapter <span class="text-success">{{item.chapter}}</span> <span ng-if="item.section.subtitle"> > Section <span class="text-danger">{{item.section.subtitle}}</span> </span></span>
                </h5>

            </div>

            <div class="component-basics form-section" >
                <!-- Component Basics -->
                <div class="card mb-2" collapsible-card ng-if="item.chapter!=='Main Page' || item.element.editable==='expose'">
                    <div class="card-header p-1">
                        <p class="form-subtitle p-0 m-0 pl-3 font-weight-bold">Component Basics<span class="fa fa-minus float-right" style="line-height: 1.5"></span></p>
                    </div>
                    <div class="card-body collapse">
                        <ng-form name="basicsForm" novalidate class="">
                            <div class="form-group text-center">
                                <label for="componentName" class="font-weight-bold">Subtitle: </label>
                                <input id="componentName" name="componentName" class="form-control  m-auto" ng-model="item.element.subtitle" placeholder="Enter a name...{{item.section ? '(optional)' : ''}}" ng-required="!item.section">
                                <span ng-if="masterForm.basicsForm.$dirty &&  masterForm.basicsForm.componentName.$error.required">Required</span>

                            </div>
                            <div class="form-group text-center">
                                <input class="form-check-input" type="checkbox" ng-model="item.element['space_after']" id="componentHr">
                                <label class="form-check-label" for="componentHr">Draw horizontal line at the end</label>
                            </div>
                        </ng-form>
                    </div>
                </div>

                <!-- Component Type selector -->
                <div class="card mb-2" ng-if="item.element.hasOwnProperty('type') && item.chapter!=='Main Page'" collapsible-card>
                    <div class="card-header p-1">
                        <p class="form-subtitle p-0 m-0 pl-3 font-weight-bold">Component Type<span class="fa fa-minus float-right" style="line-height: 1.5"></span></p>
                    </div>
                    <div class="card-body collapse">
                        <ng-form name="typeForm" novalidate>
                            <div class="form-group text-center types">
                                <label for="componentType">Component Type: </label>
                                <select id="componentType" class="custom-select" ng-model="item.element.type" ng-required="true">
                                    <option ng-repeat="type in types" ng-value="type.type">
                                        <div class="flex-item">
                                            <span class="{{type.icon}}" style="width: 25px"></span>
                                            <span class="ml-2 small" style="width: 75px">{{type.type | nicename}}</span>
                                        </div>
                                    </option>
                                </select>
                            </div>
                            <p>Current type: {{item.element.type}}</p>
                        </ng-form>
                    </div>
                </div>

                <div class="card mb-2" ng-if="item.element.hasOwnProperty('type')" collapsible-card>
                    <div class="card-header p-1">
                        <p class="form-subtitle p-0 m-0 pl-3 font-weight-bold">{{item.element.type | nicename}} Options<span class="fa fa-minus float-right" style="line-height: 1.5"></span></p>
                    </div>
                    <div class="card-body collapse">
                        <text-paragraph-admin ng-if="item.element.type==='text-paragraph'" item="item.element"></text-paragraph-admin>
                        <text-quote-admin ng-if="item.element.type==='text-quote'"></text-quote-admin>
                        <text-alert-admin ng-if="item.element.type==='text-alert' || item.element.type==='thought-bubble'"></text-alert-admin>
                        <text-myth-admin ng-if="item.element.type==='text-mythfact'"></text-myth-admin>
                        <reference-admin ng-if="item.element.type==='link-reference'"></reference-admin>
                        <telephone-admin ng-if="item.element.type==='link-telephone'"></telephone-admin>
                        <email-admin ng-if="item.element.type==='link-email'"></email-admin>
                        <website-links-admin ng-if="item.element.type==='link-website'"></website-links-admin>
                        <list-admin ng-if="item.element.type==='list-text'"></list-admin>
                        <files-admin ng-if="item.element.type==='link-pdf'"></files-admin>
                        <image-admin ng-if="item.element.type==='image-single'" item="item.element" max-size="280"></image-admin>
                        <video-admin ng-if="item.element.type==='video-single'" item="item.element"></video-admin>
                        <video-carousel-admin ng-if="item.element.type==='video-carousel'"></video-carousel-admin>
                        <quiz-admin ng-if="item.element.type==='quiz'"></quiz-admin>
                        <quote-main-admin ng-if="item.element.type==='quote-list'"></quote-main-admin>
                        <list-images-admin ng-if="item.element.type==='list-images'"></list-images-admin>
                        <media-description-admin ng-if="item.element.type==='media-description'"></media-description-admin>

                    </div>
                </div>

            </div>
        </div>

        <!-- Only for Chapters-->
        <div class="card-body component-edit-form" ng-if="item.type==='Chapter' || item.type==='Block'">
            <ng-form name="chapterForm" novalidate >
                <div class="form-group text-center">
                    <label for="chapterName" class="font-weight-bold">Chapter Name: </label>
                    <input id="chapterName" name="chapterName" class="form-control  m-auto" ng-model="item.element.name" placeholder="Enter a name...{{item.section ? '(optional)' : ''}}" ng-required="true" ng-pattern="regex">
                    <span class="small text-danger" ng-if="masterForm.chapterForm.$dirty &&  masterForm.chapterForm.chapterName.$error.required">Required</span>
                    <span class="small text-danger" ng-if="masterForm.chapterForm.$dirty &&  masterForm.chapterForm.chapterName.$error.pattern">Not allowed to use "-" in Chapter title</span>
                </div>
            </ng-form>
        </div>







        <div class="card-footer main text-center">
            <button type="submit" class="btn btn-success mx-4 " ng-click="closeModal(masterForm)">Save</button>
            <button class="btn btn-danger mx-4"  ng-click="dismissModal($event)">Close without saving</button>
        </div>
    </form>



</div>