<div class="card card-inner">
    <div class="card-body py-2">
        <div class="card-subtitle">
           {{component.subtitle}}
        </div>
        <div class="card-text">
            <div ng-repeat="mail in component.links">
                <span class="email-tag mr-4" ng-show="mail.tag">{{mail.tag}}: </span>
                <span class="fa fa-globe"></span>
                <a class="website-link" href="{{mail.link}}" title="Go to: {{mail.link}}" target="_blank">{{mail.text}}</a>
            </div>
        </div>
    </div>
</div>