<ng-form name="componentSpecifics" novalidate>
    <a class="btn btn-info float-right text-white p-1" ng-if="!ctrl.files.length" ng-click="ctrl.createFiles()">Add File</a>
    <div class="w-100">
        <div class="card mb-2 link-card" collapsible-card ng-repeat="file in ctrl.files" ifs-editable="File" callback-array="ctrl.files" ifs-editable-class="mr-4">
            <div class="card-header p-1" >
                <p class="form-subtitle p-0 m-0 pl-3 font-weight-bold">File {{$index}}<span class="fa fa-minus float-right" style="line-height: 1.5" ></span></p>
            </div>
            <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="label{{$index}}">Text:</label>
                            <input id="label{{$index}}" type="text" name="label{{$index}}" class="form-control ml-2" ng-model="file.text" placeholder="Label to show" ng-required="true">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="file{{$index}}">File:</label>

                            <div class="form-inline">
                                <input id="file{{$index}}" type="text" name="file{{$index}}" class="form-control ml-3" ng-model="file.link" placeholder="Copy URL or Add From Disk" ng-required="true">
                                <file-uploader index="$index" context="file">
                                    <input type="file"  class="fileUpload" accept="application/pdf,.docx,.doc" style="display:none">
                                    <button type="button" class="fileSelector btn btn-sm bg-light btn-outline-dark form-control ml-3"><span class="fa fa-upload"></span></button>
                                </file-uploader>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <a class="btn btn-info float-right p-1" ng-if="ctrl.files.length>0" type="button" ng-click="ctrl.addFile($event)">Add another</a>
    </div>
</ng-form>