<ng-form name="componentSpecifics" class="sub-form" novalidate>
    <file-uploader context="ctrl.element" form="componentSpecifics" file-type="images">
        <input type="file"  class="fileUpload" name="fileInput" id="fileInput" ng-model="fileUp" accept="image/*" style="display:none" valid-file="(.jpg|.jpeg|.png)$" data-max-size="{{maxSize}}">
        <button type="button" class="fileSelector btn btn-success form-control"><span class="fa fa-upload mr-3"></span>Add {{ctrl.element.src ? "Another" : ""}} image</button>
        <p class="small text-danger" ng-if="componentSpecifics.$error.validFile">Your file is too big ({{this.file.size}}). Maximum allowed is {{maxSize}}KB.</p>
        <p class="small text-danger" ng-if="componentSpecifics.$error.validType">Your file has to be the an image (.jpg/.jpeg/.png)</p>
    </file-uploader>
    <p class="small mt-3">Current file: <span class="bg-danger text-white p-1">{{ctrl.currentFile}}</span></p>
    <div ng-if="exists.res">
        <p class="text-danger">The file already exists on the server. Press the link below to see it.</p>
        <a href="{{exists.link}}" target="_blank" class="link-card">Click here to see the file</a>
        <p class="text-danger">If they are not the same file, then you should rename your file before uploading it, otherwise it will replace the file linked above.</p>
    </div>
</ng-form>
