<ng-form name="componentSpecifics" class="sub-form" novalidate>
    <file-uploader context="ctrl.element" form="componentSpecifics">
        <input type="file"  class="fileUpload" name="fileInput" id="fileInput" ng-model="fileUp" accept="image/*" style="display:none" valid-file="(.jpg|.jpeg|.png)$" data-max-size="80">
        <button type="button" class="fileSelector btn btn-success form-control"><span class="fa fa-upload mr-3"></span>Add {{ctrl.element.src ? "Another" : ""}} image</button>
        <p class="small text-danger" ng-if="componentSpecifics.$error.validFile">Your file is too big ({{this.file.size}}). Maximum allowed is 80KB.</p>
        <p class="small text-danger" ng-if="componentSpecifics.$error.validType">Your file has to be the an image (.jpg/.jpeg/.png)</p>
    </file-uploader>
    <p class="small mt-3">Current file: <span class="bg-danger text-white p-1">{{ctrl.currentFile}}</span></p>
</ng-form>