<ng-form name="componentSpecifics" novalidate>
    <div class="form-group text-center">
        <label for="textParagraph">Text:</label>
        <textarea class="form-control" name="textParagraph" id="textParagraph" cols="30" rows="5" ng-model="item.element.text"></textarea>
    </div>
    <div class="form-group text-center">
        <label for="yearQuote">Year:</label>
        <input class="form-control" name="yearQuote" id="yearQuote"  ng-model="item.element.year">
    </div>
    <div class="form-group text-center">
        <label for="authorQuote">Author:</label>
        <input class="form-control" name="authorQuote" id="authorQuote"  ng-model="item.element.author">
    </div>
</ng-form>

