<div class="form-group row">
    <label for="{{'componenttext'}}" class="col-lg-2 col-3 text-right align-text-bottom" style="line-height: 2.8" >Text: </label>
    <div class="space col-1"></div>
    <textarea class="form-control col-5" rows="5" cols="40" type="text" id="{{'componenttext'}}" ng-model="component.text"></textarea>
</div>
<div class="form-group row">
    <label for="{{compindex+'componentauthor'}}" class="col-lg-2 col-3 text-right align-text-bottom" style="line-height: 2.8" >Author: </label>
    <div class="space col-1"></div>
    <input class="form-control col-5" type="text" id="{{compindex+'componentauthor'}}" ng-model="component.author"></input>
</div>
<div class="form-group row">
    <label for="{{compindex+'componentyear'}}" class="col-lg-2 col-3 text-right align-text-bottom" style="line-height: 2.8" >Year: </label>
    <div class="space col-1"></div>
    <input class="form-control col-5"  type="text" id="{{compindex+'componentyear'}}" ng-model="component.year"></input>
</div>