<h5 class="mb-5" ng-show="component.subtitle">{{component.subtitle}}</h5>
<div class="mythfact mt-5" ng-repeat="mf in component.myths">
    <div class="d-flex align-items-stretch justify-content-between flex-nowrap mythfact-cards">
        <div class="card card-myth w-50" >
            <div class="card-header py-1 ">
                <h4>Myth</h4>
            </div>
            <div class="card-body d-flex justify-content-center align-items-center py-3 px-4 ">
                <h5 class="mb-0">{{mf.myth}}</h5>
            </div>
        </div>
        <div class="card card-fact w-50">
            <div class="card-header py-1">
                <h4>Fact</h4>
            </div>
            <div class="card-body d-flex justify-content-center align-items-center py-3 px-4 ">
                <h5 class="mb-0">{{mf.fact}}</h5>
            </div>
        </div>
    </div>
    <hr class="mid-comp-sep my-5" ng-show="!$last">
</div>