<h5 ng-show="component.subtitle">{{component.subtitle}}</h5>
<div class="card card-inner mb-5">
    <div class="card-body py-2">
        <blockquote class="blockquote text-center my-5">
            <p class="mb-0">"{{component.text}}"</p>
            <div class="blockquote-footer" ng-show="component.author || component.year">
                <cite title="Author and Year">
                    {{component.author}} {{component.year}}
                </cite>
            </div>
        </blockquote>
    </div>
</div>
